alembic==1.4.3
astroid==2.4.2
attrs==20.3.0
awscli==1.16.185
boto3==1.16.27
botocore==1.19.27
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
colorama==0.3.9
DateTime==4.3
docutils==0.14
ecdsa==0.14.1
Flask==1.1.2
Flask-Cors==3.0.9
Flask-Migrate==2.5.3
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.4
gunicorn==20.0.4
idna==2.10
importlib-metadata==2.0.0
iniconfig==1.1.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.9.4
jose==1.0.0
jsonify==0.5
lazy-object-proxy==1.4.3
Mako==1.1.3
MarkupSafe==1.1.1
mccabe==0.6.1
migrate==0.3.8
mypy==0.790
mypy-extensions==0.4.3
mysqlclient==2.0.1
numpy==1.19.4
packaging==20.4
pandas==1.1.4
pangres==2.2.1
pluggy==0.13.1
psycopg2-binary==2.8.6
py==1.9.0
pyasn1==0.4.5
PyJWT==1.7.1
pylint==2.5.3
pyparsing==2.4.7
pytest==6.1.2
python-dateutil==2.8.1
python-editor==1.0.4
python-jose==3.2.0
pytz==2020.4
PyYAML==5.1
requests==2.25.0
rsa==3.4.2
s3transfer==0.3.3
six==1.12.0
SQLAlchemy==1.3.20
toml==0.10.1
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.26.2
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0
zope.interface==5.2.0
